/*-- scss:defaults --*/

// Nerd Font
@import "https://www.nerdfonts.com/assets/css/webfont.css";

// JetBrains Mono
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

// Rufina
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');

// Berkshire Swash
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

// Noto Sans
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// rojo
$c-rojo: #DF8271;
$c-rojo-oscuro: #611300;

// azul
$c-azul: #6FAFD1;
$c-azul-oscuro: #003560;

// dorado
$c-dorado: #F6B40E;

// gris oscuro
$c-gris:#222222;

// gris claro
$c-gris-claro:#999999;

// blanco
$c-blanco: #FFFFFF;

// color de ORCID
$c-orcid: #A6CE39;

$font-family-sans-serif: "Noto Sans", sans-serif;
$font-family-monospace: "JetBrains Mono";
$font-family-title: "Berkshire Swash";
$font-family-header: "Rufina";
$font-size-root: 18px;
$link-color: $c-rojo;
$body-bg: #181818;
$body-color: $c-blanco;
$sidebar-fg: darken($c-blanco, 10%);

// navbar
$navbar-bg: $c-azul-oscuro;
$navbar-fg: $c-blanco;
$navbar-hl: $c-azul;

// footer
$footer-bg: $c-azul-oscuro;
$footer-fg: $c-blanco;
$footer-hl: $c-azul;

// tiempo de transiciones
$t-trans: .7s;

// grillas

/*-- scss:rules --*/

p.estrecho {
  margin-bottom: 0rem;
}

// tamaño de logo
.navbar-logo {
    max-height: 60px;
    max-width: 60px;
    padding-right: 10px;
}

// cambio de color en íconos RRSS en navbar en hover
.navbar .quarto-navbar-tools .quarto-navigation-tool {
  transition-duration: $t-trans;
    &:hover {
      transition-duration: $t-trans;
    }
}

// color blanco para título en about (✌️)
.est-blanco {
  color: $c-dorado;
  transition-duration: $t-trans;
}

// color azul para título en about
.est-azul {
  color: $c-azul;
  font-family: $font-family-title;
  transition-duration: $t-trans;
}

// transición a color rojo en título en about
.quarto-title:hover .est-blanco, .quarto-title:hover .est-azul {
  color: $c-rojo;
}


// herramientas de GITHUB en toc
.sidebar .toc-actions>ul, .sidebar .quarto-code-links>ul, .sidebar .quarto-other-links>ul, .sidebar .quarto-alternate-notebooks>ul, .sidebar .quarto-alternate-formats>ul {
    font-size: 0.8rem;
    color: $c-gris-claro;
}

// announcement
#quarto-announcement {
    padding: .5em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    color: $c-azul-oscuro;
    font-weight: bold;
    background-color: $c-blanco;
    font-size: 1.2em;
}

//estilo de chunks
pre.sourceCode {
    border-radius: 0em;
    font-size: .8em;
    overflow: visible !important;
    padding: .4em;
}

// botón de búsqueda en navbar
.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
    width: 20px;
    height: 20px;
    color: $c-blanco;
    opacity: .5;
    transition-duration: $t-trans;
    &:hover {
      opacity: 1;
      transition-duration: $t-trans;
    }
}

// etiquetas de categorías en .qmd con bordes cuadrados
.quarto-title .quarto-categories .quarto-category {
    padding: .25em .75em;
    font-size: .65em;
    text-transform: uppercase;
    border: solid 1px;
    border-radius: 0rem;
    opacity: .6;
}

// tamaño de las categorías a la derecha
.quarto-listing-category .category {
    cursor: pointer;
    font-size: .9em;
    color: $c-gris-claro;
    &:hover {
        color: $c-rojo;
    }
}

// imagen personal en about
.about-image {
    border: solid 3px $c-azul;
    transition-duration: $t-trans;
    &:hover {
        border: solid 3px $c-rojo;
        transition-duration: $t-trans;
    }
}

// íconos en about, educación y experiencia
.nf-lista {
    color: $c-rojo;
    margin-right: .7rem;
}

// título de las publicaciones
a.listing-title {
    color: $c-azul;
    text-decoration: none;
}

// nombre de los autores en las publicaciones
a.listing-author-name {
    color: $c-blanco;
    text-decoration: none;
}

// separador de autores
.separator {
    color: $c-azul;
}

// link del DOI en las publicaciones
a.listing-doi {
    color: $c-azul;
    text-decoration: solid;
}

// color del ícono de ORCID
.orcid {
    color: $c-orcid;
}

// barra horizontal entre publicaciones
hr.listing {
    color: $c-rojo;
    border-color: $c-rojo;
    border-width: 1px;
    margin-top: 10px;
    margin-bottom: 0px;
}

// estilo de los nombres de las propiedades de las publicaciones
// año, doi, autores
listing-names {
    color: $c-blanco;
    background-color: $c-azul-oscuro;
    padding: .15em;
    border-radius: .0rem;
}

// estilo de las categorías en las publicaciones
listing-categories {
    border: solid $c-azul 1px;
    border-radius: .25rem;
    text-transform: uppercase;
    font-size: .8em;
    padding-left: .25em;
    padding-right: .25em;
    padding-top: .15em;
    padding-bottom: .15em;
    margin-right: .7em;
}

est1 {
    font-weight: bold;
    text-decoration: underline;
}

// breadcrumbs
.quarto-title-breadcrumbs .breadcrumb {
    margin-bottom: .5em;
    font-size: .9rem;
    font-family: $font-family-monospace;
    background-color: transparent;
    border: solid 1px $c-gris-claro;
    border-radius: 0em;
}

// tabs en navbar
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: $c-blanco;
    font-weight: bold;
    text-decoration: underline 1px $c-rojo;
}

// mi nombre en la barra de navegación
.navbar-title {
  font-family: $font-family-title;
  font-weight: bold;
  text-decoration: none;
  font-size: xx-large;
  color: $c-blanco;
  transition-duration: $t-trans;
  &:hover {
    color: $c-rojo;
    transition-duration: $t-trans;
  }
}

// cambio color y fondo de íconos de RRSS en hover
div.quarto-about-solana .about-entity .about-link {
    font-size: 1.5em;
    border: none;
}

// color de íconos de RRSS
.about-links * {
    color: $c-azul;
    transition-duration: $t-trans;
    &:hover {
        color: $c-rojo;
        transition-duration: $t-trans;
  }
}

// todos los headers en azul
h1, h2, h3, h4 {
  color: $c-azul;
  font-family: $font-family-header;
  font-weight: 700;
}

// títulos H1 en todos los .qmd
h1.title {
  font-size: 4em;
}

pre, code, .sourceCode {
  font-family: $font-family-monospace;
}

c1 {
  color: $c-rojo;
}

/* SCROLL BAR -----------*/

// width
::-webkit-scrollbar {
  width: 10px;
}

// Track
::-webkit-scrollbar-track {
  background: darken($c-gris, 10%);
}

// Handle
::-webkit-scrollbar-thumb {
  background: lighten($c-gris, 10%);
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: lighten($c-gris, 20%);
}

// back to top
#quarto-back-to-top {
    display: none;
    position: fixed;
    bottom: 50px;
    background-color: lighten($c-gris, 5%);
    border-radius: .25rem;
    color: white;
    box-shadow: none;
    text-decoration: none;
    font-size: .9em;
    text-align: center;
    left: 50%;
    padding: .4rem .8rem;
    transform: translate(-50%, 0);
}
