/*-- scss:defaults --*/

// Ubuntu
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// Nerd Font
@import "https://www.nerdfonts.com/assets/css/webfont.css";

// JetBrains Mono
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// rojo
$c-rojo: #DF8271;
$c-rojo-oscuro: #611300;

// azul
$c-azul: #6FAFD1;
$c-azul-oscuro: #003560;

// dorado
$c-dorado: #F6B40E;

// gris oscuro
$c-gris: #222222;

// blanco
$c-blanco: #FFFFFF;

$font-family-sans-serif: "Ubuntu", Arial;
$font-family-monospace: "JetBrains Mono";
$font-size-root: 18px;
$link-color: $c-rojo;
$body-bg: #181818;
$body-color: $c-blanco;
$sidebar-fg: darken($c-blanco, 10%);

// navbar
$navbar-bg: $c-azul-oscuro;
$navbar-fg: $c-blanco;
$navbar-hl: $c-azul;

// footer
$footer-bg: $c-azul-oscuro;
$footer-fg: $c-blanco;
$footer-hl: $c-azul;

/*-- scss:rules --*/

// íconos de RRSS en navbar
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: $c-blanco;
    font-weight: bold;
}

// mi nombre en la barra de navegación
.navbar-title {
  font-weight: bold;
  text-decoration: underline;
}

// cambio color y fondo de íconos de RRSS en hover
div.quarto-about-solana .about-entity .about-link {
  font-size: 1.2em;
  padding: .25em .5em;
  border-color: transparent;
  &:hover {
    .bi {
      color: $c-gris;
    }
    border-color: $c-azul;
    background-color: $c-azul;
    border-radius: 5px
  }
}

// color de íconos de RRSS
.about-links * {
  color: $c-rojo;
}

// todos los íconos de NERD FONT de un mismo color
.nf {
  color: $c-rojo
}

//
h1, h2, h3, h4 {
  color: $c-azul;
}


pre, code, .sourceCode {
  font-family: JetBrains Mono;
}

c1 {
  color: $c-rojo;
}

/* SCROLL BAR -----------*/

// width
::-webkit-scrollbar {
  width: 10px;
}

// Track
::-webkit-scrollbar-track {
  background: darken($c-gris, 10%);
}

// Handle
::-webkit-scrollbar-thumb {
  background: lighten($c-gris, 10%);
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: lighten($c-gris, 20%);
}

// back to top
#quarto-back-to-top {
    display: none;
    position: fixed;
    bottom: 50px;
    background-color: lighten($c-gris, 5%);
    border-radius: .25rem;
    color: white;
    box-shadow: none;
    text-decoration: none;
    font-size: .9em;
    text-align: center;
    left: 50%;
    padding: .4rem .8rem;
    transform: translate(-50%, 0);
}