/*-- scss:defaults --*/

// Ubuntu
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// Nerd Font
@import "https://www.nerdfonts.com/assets/css/webfont.css";

// JetBrains Mono
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// rojo
$c-rojo: #DF8271;
$c-rojo-oscuro: #611300;

// azul
$c-azul: #6FAFD1;
$c-azul-oscuro: #003560;

// dorado
$c-dorado: #F6B40E;

// gris oscuro
$c-gris: #222222;

// blanco
$c-blanco: #FFFFFF;

// color de ORCID
$c-orcid: #A6CE39;

$font-family-sans-serif: "Ubuntu", Arial;
$font-family-monospace: "JetBrains Mono";
$font-size-root: 18px;
$link-color: $c-rojo;
$body-bg: #181818;
$body-color: $c-blanco;
$sidebar-fg: darken($c-blanco, 10%);

// navbar
$navbar-bg: $c-azul-oscuro;
$navbar-fg: $c-blanco;
$navbar-hl: $c-azul;

// footer
$footer-bg: $c-azul-oscuro;
$footer-fg: $c-blanco;
$footer-hl: $c-azul;

/*-- scss:rules --*/

// imagen personal en about
.about-image {
    border: solid 3px $c-azul;
    transition-duration: 1s;
    &:hover {
        border: solid 3px $c-rojo;
        transition-duration: 1s;
    }
}

.nf-lista {
    color: $c-rojo;
    margin-right: .7rem;
}

a.listing-title {
    color: $c-azul;
    text-decoration: none;
}

a.listing-author-name {
    color: $c-blanco;
    text-decoration: none;
}

a.listing-doi {
    color: $c-azul;
    text-decoration: solid;
}

.separator {
    color: $c-azul;
}

.orcid {
    color: $c-orcid;
}

hr.listing {
    color: $c-rojo;
    border-color: $c-rojo;
    border-width: 1px;
    margin-top: 10px;
    margin-bottom: 0px;
}

// estilo de los nombres de las propiedades de las publicaciones
// año, doi, autores
listing-names {
    color: $c-blanco;
    background-color: $c-azul-oscuro;
    padding: .15em;
    border-radius: .0rem;
}

// estilo de las categorías en las publicaciones
listing-categories {
    border: solid $c-azul 1px;
    border-radius: .25rem;
    text-transform: uppercase;
    font-size: .8em;
    padding-left: .25em;
    padding-right: .25em;
    padding-top: .15em;
    padding-bottom: .15em;
    margin-right: .7em;
}

est1 {
    font-weight: bold;
    text-decoration: underline;
}

// breadcrumbs
.quarto-title-breadcrumbs .breadcrumb {
    margin-bottom: .5em;
    font-size: .9rem;
    font-family: JetBrains Mono;
}

// íconos de RRSS en navbar
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: $c-blanco;
    font-weight: bold;
    text-decoration: underline 1px $c-rojo;
}

// mi nombre en la barra de navegación
.navbar-title {
  font-weight: bold;
  text-decoration: none;
  font-size: xx-large;
}

// cambio color y fondo de íconos de RRSS en hover
div.quarto-about-solana .about-entity .about-link {
    font-size: 1.5em;
    border: none;
}

// color de íconos de RRSS
.about-links * {
    color: $c-azul;
    transition-duration: 1s;

    &:hover {
        color: $c-rojo;
        text-decoration: underline $c-rojo;
        transition-duration: 1s;
  }
}

//
h1, h2, h3, h4 {
  color: $c-azul;
}

pre, code, .sourceCode {
  font-family: JetBrains Mono;
}

c1 {
  color: $c-rojo;
}

/* SCROLL BAR -----------*/

// width
::-webkit-scrollbar {
  width: 10px;
}

// Track
::-webkit-scrollbar-track {
  background: darken($c-gris, 10%);
}

// Handle
::-webkit-scrollbar-thumb {
  background: lighten($c-gris, 10%);
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: lighten($c-gris, 20%);
}

// back to top
#quarto-back-to-top {
    display: none;
    position: fixed;
    bottom: 50px;
    background-color: lighten($c-gris, 5%);
    border-radius: .25rem;
    color: white;
    box-shadow: none;
    text-decoration: none;
    font-size: .9em;
    text-align: center;
    left: 50%;
    padding: .4rem .8rem;
    transform: translate(-50%, 0);
}